/**
 * We support IE8+ only, so we could use the border-box model
 * see http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/** Your styles here **/